<div>
<p>welcome to mgamer</p>
</div>
<%= link_to "नूतनः gameH योजयतु", new_game_path %>
<% for i in @games do %>
    <div class="games">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="info">
            <p><%= i.info.html_safe %></p>
        </div>

        <div class="updel">
            <%= link_to game_path(i.id), class: "anone" do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to game_delete_path(i.id), method: "delete", data: {:confirm => "Are you sure you want to delete this game?"}, class: "anone" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>
