<div>
<p>welcome to mgameu</p>
</div>

<%= form_tag '../game/' + @game.id.to_s do %>
    <div>
        <%= label_tag "शीर्षकं" %><br/>
        <%= text_field_tag :name, @game.name, :required => true, class: "textfield" %><br/>
        <%= label_tag "gameH" %><br/>
        <%= text_area_tag :info, @game.info, :required => true, class: "textarea-1" %><br/>
        
    </div>
    <div>
        <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
        <%= link_to "प्रतिगछतु", all_games_path %>
    </div>
<% end %>