<h1>Log In</h1>
<%= form_tag login_post_path do %>
    <%= email_field_tag :email, nil, :required => true, class: "utextfield", placeholder: "Your email" %><br/><br/>
    <%= password_field_tag :password, nil, :required => true, class: "utextfield", placeholder: "Your password" %><br/><br/>
    <%= submit_tag "Log In", :class => "button" %>
<% end %>
<br/>

<% if session[:moru] == "user" %>
    New user? <%= link_to "Sign up", new_user_path %> instead.
<% end %>