<h1>Log In</h1>
<%= form_tag logging_loging_path do %>
    <div>
        <%= label_tag :email %><br/>
        <%= text_field_tag :email, nil, :required => true %><br/>
        <%= label_tag :password %><br/>
        <%= password_field_tag :password, nil, :required => true %>
    </div>
    <div>
        <%= submit_tag "Log In", :class => "button" %>
    </div>
    <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
    <% end %>
<% end %>
