<h1>Log in as <%= session[:moru] %></h1>
<%= form_tag login_post_path do %>
    <br/>
    <%= email_field_tag :email, nil, :required => true, class: "utextfield", placeholder: "Your email" %><br/><br/>
    <%= password_field_tag :password, nil, :required => true, class: "utextfield", placeholder: "Your password" %><br/><br/><br/>
    <%= submit_tag "Log In", :class => "button" %>
<% end %>
<br/>
<div>
    Forgot password? <%= link_to "Reset", forgot_path %> it.<br/>
    <% if session[:moru] == "user" %>
            <br/>New user? <%= link_to "Sign up", new_user_path %> instead.<br/><br/>
    <% end %>
</div>