<h1>Sign up as new <%= session[:moru] %></h1>
<% if !session[:otp] %>
    <%= form_tag newp_path do %>
        <%= text_field_tag :name, nil, :required => true, class: "utextfield", placeholder: "Your name" %><br/><br/>
        <%= email_field_tag :email, nil, :required => true, class: "utextfield", placeholder: "Your email" %><br/><br/>
        <%= password_field_tag :password, nil, :required => true, class: "utextfield", placeholder: "Set password" %><br/><br/>
        <%= password_field_tag :repass, nil, :required => true, class: "utextfield", placeholder: "Re-enter password" %><br/><br/>
        <%= submit_tag "Submit", :class => "button" %>
    <% end %>
<% else %>
    <%= form_tag otpp_path do %>
        <%= text_field_tag :otp, nil, :required => true, class: "utextfield", placeholder: "Enter OTP" %><br/>
        <%= submit_tag "Submit", :class => "button" %>
    <% end %>
<% end %>
<br/>
<div>
    Already signed up? Proceed to <%= link_to "Login", user_login_path %>.<br/><br/>
</div>