
<%= link_to "add new course", new_course_path %><br/>

<% flash.each do |type, msg| %>
    <div class="flash">
        <%= msg %>
    </div>
<% end %>

<% for i in @courses do %>
    <div class="courses">
        <div class="title">
            <%= i.name %><br/>
        </div>

        

        <div class="info">
            <p><%= i.description.html_safe %></p>
        </div>

        <% path = "../course/" + i.id.to_s %>
        <div class="updel">
            <%= link_to path, class: "anone" do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to path + "/del", class: "anone" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>
