<h1>नूतनः courseH योजयतु</h1>

<%= form_tag course_post_path, multipart: true do %>
    <%= label_tag "शीर्षकं" %><br/>
    <%= text_field_tag :name, nil, :required => true, class: "mtextfield" %><br/><br/>
    <%= label_tag "course code" %><br/>
    <%= text_field_tag :cname, nil, :required => true, class: "mtextfield" %><br/><br/>
    Registration:
    <div class="radio">
        <%= radio_button_tag :regon, "on" %>
        <%= label_tag :regon_on, "On" %>
        <%= radio_button_tag :regon, "off", :checked => true %>
        <%= label_tag :regon_off, "off" %><br/>
    </div>
    <%= label_tag "image" %><br/>
    <%= file_field_tag :image, :required => true %><br/><br/>
    <%= label_tag "description" %><br/>
    <%= text_area_tag :description, nil, :required => true, class: "mtextarea-1" %><br/><br/>
    <%= label_tag "more info" %><br/>
    <%= text_area_tag :more, nil, :required => true, class: "mtextarea-2" %><br/><br/>

    <%= submit_tag "submit", :class => "button" %><br/>
    <div class="button">
        <%= link_to "cancel", all_courses_path, class: "anone" %>
    </div>
<% end %>