<%= link_to "नूतनः courseH योजयतु", new_course_path %><br/>

<% for i in @courses do %>
    <div class="courses">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="image">
            <img src="<%= rails_blob_url(i.image) %>", class="img-100" />
        </div>

        <div class="info">
            <%= i.description.html_safe %><br/><br/>
            <b>Course code:</b> <%= i.cname %><br/><br/>
            <b>Registration:</b> <%= i.regon %><br/><br/>
            <%= i.more.html_safe %><br/><br/>
            <b>Lecture links:</b> coming soon<br/><br/>
            <b>Exams:</b><br/>
            <% for j in @exams %>
                <% if j.name.include? i.cname %>
                    <% exam = j.name.split("_") %>
                    &bull; 
                    <%= link_to ques_read_path(i.cname, exam[0] + "_" + exam[1]) do %>
                        <%= exam[0] + " - " + exam[1] + " | " + exam[2] %>
                    <% end %><br/>
                <% end %>
            <% end %>
            <%= link_to exam_new_path(i.cname), class: "anone" do %>
                <div class="button">नूतनः examH योजयतु</div>
            <% end %>
        </div>

        <div class="updel">
            <%= link_to course_path(i.id), class: "anone" do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to course_delete_path(i.id), method: "delete", data: {:confirm => "Are you sure you want to delete this course?"}, class: "anone" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>
