
<%= link_to "add new course", new_course_path %><br/>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<% for i in @courses do %>
    <div class="courses">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div>
            <img src="<%= rails_blob_url(i.image) %>" />
        </div>

        <div class="info">
            <p><%= i.description.html_safe %></p>
        </div>

        <% path = "../course/" + i.id.to_s %>
        <div class="updel">
            <%= link_to path do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to path + "/del" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>
