<h1>Course-परिवर्तनं करोतु</h1>

<%= form_for @course, url: course_update_path, multipart: true do |f| %>
    <%= f.label "शीर्षकं" %><br/>
    <%= f.text_field :name, :required => true, class: "mtextfield" %><br/><br/>
    <%= f.label "course code" %><br/>
    <%= f.text_area :cname, :required => true, class: "mtextfield" %><br/><br/>
    Registration:
    <div class="radio">
        <%= f.radio_button :regon, "on" %>
        <%= f.label :regon_on, "On" %>
        <%= f.radio_button :regon, "off" %>
        <%= f.label :regon_off, "off" %><br/>
    </div>
    <%= f.label "description" %><br/>
    <%= f.text_area :description, :required => true, class: "mtextarea-1" %><br/><br/>
    <%= f.label "more info" %><br/>
    <%= f.text_area :more, :required => true, class: "mtextarea-2" %><br/><br/>
    <%= f.label "current image" %><br/>
    <img src="<%= rails_blob_url(@course.image) %>" class="img-50" /><br/><br/>
    <%= f.label "change image" %><br/>
    <%= f.file_field :image %><br/><br/>

    <%= f.submit "अग्रेस्थापनं करोतु", :class => "button" %><br/>
<% end %>
<%= link_to "प्रतिगच्छतु", all_courses_path %>