<% i = @course %>
<div class="courses">
    <div class="button">
        <%= link_to "Back", courses_path, class: "anone" %>
    </div>

    <div class="title">
        <%= i.name %><br/>
    </div>

    <div class="image">
        <img src="<%= rails_blob_url(i.image) %>", class="img-100" />
    </div>

    <div class="info">
        <%= i.description.html_safe %>
    </div>

    <div class="info">
        <b>Course code:</b> <%= i.cname %><br/><br/>
        <%= i.more.html_safe %>
    </div>

    <% if @user_regd > 0 %>
        <div><b>You are registered for this course.</b></div>
        
        <div class="info">
            <b>Lecture links:</b><br/>
            <% for j in i.yt.split("\n") %>
                <% lecture = j.split(": ") %>
                <%= lecture[0] %>: <a href="<%= lecture[1] %>" target="_blank"><%= lecture[1] %></a><br/>
            <% end %>
        </div>

        <div class="info">
            <b>Exams:</b><br/>
            <% for j in @exams %>
                <% if j.name.include? i.cname %>
                    <% exam = j.name.split("_") %>
                    &bull;
                    <%= link_to exam_uview_path(i.cname, exam[0] + "_" + exam[1]) do %>
                        <%= exam[0] + " - " + exam[1] + " | " + exam[2] %>
                    <% end %><br/>
                <% end %>
            <% end %>
        </div>

    <% elsif i.regon == "off" %>
        <div><b>Registration has been closed for this course.</b></div>
    
    <% else %>
        <%= link_to course_reg_path(i.cname), class: "anone",
            data: {:confirm => "Are you sure you want to register for this course?"} do %>
            <div class="button">Register</div>
        <% end %>
    <% end %>
</div>