<%= link_to courses_path, class: "anone" do %>
    <div class="button">Back</div>
<% end %>

<% flash.each do |type, msg| %>
    <div class="flash">
        <%= msg %>
    </div>
<% end %>

<% i = @course %>
<div class="courses">
    <div class="title">
        <%= i.name %><br/>
    </div>

    <div>
        <img src="<%= rails_blob_url(i.image) %>" />
    </div>

    <div class="info">
        <p><%= i.description.html_safe %><br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br/>
        </p>
    </div>

    <% if @user_regd > 0 %>
        <div><b>You are registered in this course.</b></div>
    <% else %>
        <%= link_to "../../course/" + i.cname + "/reg", class: "anone",
            :confirm => "Are you sure you want to register for this course?" do %>
            <div class="button">Register</div>
        <% end %>
    <% end %>
</div>