<section class="grid-container">
  <div class="left-section">
    <div class="heading-section">
      <h1>ABOUT US</h1>
      <span class="strip"></span>
    </div>

    <div class="para">
      <p class="sanskrit-text">
        рдирдореЛ рдирдордГ! ЁЯЩП<br/>
        рд╕рдВрд╕реНрдХреГрдд-рдордгреНрдбрд▓рдГ рд╕рдВрд╕реНрдХреГрддрднрд╛рд╖рд╛рдпрд╛рдГ рдкреБрдирд░реБрддреНрдерд╛рдирд╕реНрдп рд╕рдВрд╡рд░реНрдзрдирд╕реНрдп рдЪ рдХреГрддреЗ рдХрд╢реНрдЪрди рдЙрдкрдХреНрд░рдордГ рд╡рд░реНрддрддреЗред
      </p>
      <p>
        Namo Namah! ЁЯЩП<br/>
        The Sanskrit Club is an initiative to revive and promote the bedrock for the growth of a large part of the glorious Indian Civilisation, the Sanskrit language.
      </p>
    </div>

    <div class="para">
      <p class="sanskrit-text">
        рдПрддрдпрд╛ рдкреНрд░рд╛рдЪреАрди-рднрд╛рд╖рдпрд╛ рд▓рд┐рдЦрд┐рддреЗрд╖реБ рдЧреНрд░рдиреНрдереЗрд╖реБ рдЖрдзрд┐рдХреНрдпреЗрди рд╡рд┐рджреНрдпрд╛ рднрд╡рддрд┐, рддрджреНрдпрдерд╛ рд╡реЗрджрд╛рдГ, рдкреБрд░рд╛рдгрд╛рдирд┐, рддрдиреНрддреНрд░рд╛рдгрд┐ рдЕрдерд╡рд╛ рдЕрдиреНрдпрдорд╣рд░реНрд╖рд┐рднрд┐рдГ рд▓реЗрдЦрдХреИрдГ рд▓рд┐рдЦрд┐рддрд╛рдирд┐ рд╢рд╛рд╕реНрддреНрд░рд╛рдгрд┐ред
      </p>
      <p>
        Knowledge of unknown proportions resides in texts composed in this ancient language, be it the Vedas, the Puranas, the Tantras, or the treatises by other Indian saints and writers.
      </p>
    </div>

    <div class="para">
      <p>
        We, as students of a premier technological institution of this country, have taken it upon ourselves to approach Sanskrit with a scientific temperament and bring back to the world all the literary, technological, philosophical and scientific genius, that dwells within the texts of this language.
      </p>
    </div>
  </div>

  <div class="right-section">
    <div class="grid-wrapper">
      <h1 class="box">Member Area</h1>
      <span class="box bluish"></span>
    </div>

    <div class="grid-wrapper">
      <h1 class="box">рд╕рдВрд╕реНрдХреГрдд-рдордгреНрдбрд▓реЗ рд╕реБрд╕реНрд╡рд╛рдЧрддрдореН<br/>Welcome to Sanskrit Club</h1>
      <span class="box brownish"></span>
    </div>
  </div>
</section>

<section class="grid-container">
  <div class="announcement-section">
    <div class="heading-section">
      <h1>ANNOUNCEMENTS</h1>
      <span class="strip"></span>
    </div>

    <%= link_to "рдиреВрддрдирдГ announcement рдпреЛрдЬрдпрддреБ", new_news_path, class: "button", style: "margin: 1rem 0; display: inline-block;" %>

    <div class="announcement">
      <% if @news.present? %>
        <% @news.each do |i| %>
          <div class="box">
            <%= i.news.html_safe %>
            <div class="updel" style="margin-top: 1rem; display: flex; gap: 0.5rem;">
              <%= link_to news_path(i.id), class: "anone" do %>
                <div class="button">рдкрд░рд┐рд╡рд░реНрддрдпрддреБ</div>
              <% end %>
              <%= link_to news_delete_path(i.id), method: "delete",
                  data: {confirm: "Are you sure you want to delete this announcement?"}, class: "anone" do %>
                <div class="button">рд╡рд┐рдирд╢реНрдпрддреБ</div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No announcements at the moment.</p>
      <% end %>
    </div>

    <p class="text-center">
      The time now is: <b><%= Time.now.strftime("%B %d, %Y %I:%M %p") %></b><br/>
      You have visited this page <b><%= @visit %></b> times.
    </p>
  </div>
</section>