<u><h1>HOM</h1></u>
<br>
<img src="https://dl.dropbox.com/s/9jgjcwlzfvqtqza/pic01.jpg?dl=0">
<br>
<h3>NAMO NAMAH!ЁЯЩП</h3>
<h3>рдирдореЛ рдирдордГ!ЁЯЩП</h3>
<br><hr>
<p>
    The Sanskrit Club is an initiative to revive and promote the bedrock for the growth of a large part of the
    glorious Indian Civilisation, the Sanskrit language. Knowledge of unknown proportions resides in texts
    composed in this ancient language, be it the Vedas, the Puranas, the Tantras, or the treatises by other Indian saints and writers.
    We, as students of a premier technological institution of this country, have taken it upon ourselves to approach Sanskrit
    with a scientific temperament and bring back to the world all the literary, technological, philosophical and scientific genius,
    that dwells within the texts of this language.
</p>
<p>
    рд╕рдВрд╕реНрдХреГрдд-рдордгреНрдбрд▓рдГ рд╕рдВрд╕реНрдХреГрддрднрд╛рд╖рд╛рдпрд╛рдГ рдкреБрдирд░реБрддреНрдерд╛рдирд╕реНрдп рд╕рдВрд╡рд░реНрдзрдирд╕реНрдп рдЪ рдХреГрддреЗ рдХрд╢реНрдЪрди рдЙрдкрдХреНрд░рдордГ рд╡рд░реНрддрддреЗред 
    рдПрддрдпрд╛ рдкреНрд░рд╛рдЪреАрди-рднрд╛рд╖рдпрд╛ рд▓рд┐рдЦрд┐рддреЗрд╖реБ рдЧреНрд░рдиреНрдереЗрд╖реБ рдЖрдзрд┐рдХреНрдпреЗрди рд╡рд┐рджреНрдпрд╛ рднрд╡рддрд┐, рддрджреНрдпрдерд╛ рд╡реЗрджрд╛рдГ, рдкреБрд░рд╛рдгрд╛рдирд┐, 
    рддрдиреНрддреНрд░рд╛рдгрд┐ рдЕрдерд╡рд╛ рдЕрдиреНрдпрдорд╣рд░реНрд╖рд┐рднрд┐рдГ рд▓реЗрдЦрдХреИрдГ рд▓рд┐рдЦрд┐рддрд╛рдирд┐ рд╢рд╛рд╕реНрддреНрд░рд╛рдгрд┐ ред рд╡рдпрдореН, рдЕрд╕реНрдп рджреЗрд╢рд╕реНрдп 
    рдкреНрд░рдзрд╛рдирднреВрддрд╛рдирд╛рдВ рдкреНрд░реМрджреНрдпреЛрдЧрд┐рдХреАрд╕рдВрд╕реНрдерд╛рдирд╛рдирд╛рдВ рдЫрд╛рддреНрд░рд░реВрдкреЗрдг рд╡рд┐рдЬреНрдЮрд╛рдиреЗрди рд╕рд╣ рд╕рдВрд╕реНрдХреГрддрд╕реНрдп рд╕рдореНрдмрдиреНрдзрдВ рджреГрдвреАрдХрд░реНрддреБрдВ 
    рдкреБрдирд╢реНрдЪ рдПрддрдпрд╛ рднрд╛рд╖рдпрд╛ рд░рдЪрд┐рддрдЧреНрд░рдиреНрдереЗрд╖реБ рд╡рд┐рджреНрдпрдорд╛рдирд╛рдВ рд╕рд╛рд╣рд┐рддреНрдпрд┐рдХ-рдкреНрд░реМрджреНрдпреЛрдЧрд┐рдХ-рджрд╛рд░реНрд╢рдирд┐рдХ-рд╡реИрдЬреНрдЮрд╛рдирд┐рдХ-рдкреНрд░рддрд┐рднрд╛рдВ 
    рдкреБрдирд░рдкрд┐ рд╕рд░реНрд╡реЗрд╖рд╛рдВ рдкреБрд░рддрдГ рдЖрдиреЗрддреБрдореН рдЗрдЪреНрдЫрд╛рдордГред рдЕрдпрдореН рдЕрд╕реНрдорд╛рдХрдВ рдкрд░рдордзреНрдпреЗрдпрдГред
</p>
<hr><br>
<h3>Announcements</h3>
<div class="news">
<%= link_to "рдиреВрддрдирдГ announcement рдпреЛрдЬрдпрддреБ", new_announcement_path %>
<% for i in @news do %>
    <div class="news1">
        <div class="title">
            <%= i.news %><br/>
        </div>

        <% path = "../announcement/" + i.id.to_s %>
        <div class="updel">
            <%= link_to path, class: "anone" do %>
                <div class="button">рдкрд░рд┐рд╡рд░реНрддрдпрддреБ</div>
            <% end %>
            <%= link_to path + "/del", :confirm => "Are you sure you want to delete this announcement?", class: "anone" do %>
                <div class="button">рд╡рд┐рдирд╢реНрдпрддреБ</div>
            <% end %>
        </div>
    </div>
<% end %>
</div>


<p>
    The time now is: <%= Time.now %> <br/>
    You have visited this page <%= @visit %> times.<br/>
</p>