<div><b>नमस्ते</b></div>

<%= form_tag '../event/' + @event.id.to_s do %>
    <div>
        <%= label_tag "शीर्षकं" %><br/>
        <%= text_field_tag :name, @event.name, :required => true, class: "textfield" %><br/>
        <%= label_tag "घटना" %><br/>
        <%= text_area_tag :info, @event.info, :required => true, class: "textarea-1" %><br/>
    </div>
    <div>
        <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
        <%= link_to "प्रतिगछतु", all_events_path %>
    </div>
<% end %>