<h1>Event-परिवर्तनं करोतु</h1>

<%= form_for @event, url: event_update_path, multipart: true do |f| %>
    <%= f.label "शीर्षकं" %><br/>
    <%= f.text_field :name, :required => true, class: "mtextfield" %><br/><br/>
    <%= f.label "घटना" %><br/>
    <%= f.text_area :info, :required => true, class: "mtextarea-1" %><br/><br/>
    <%= f.label "current image" %><br/>
    <img src="<%= rails_blob_url(@event.image) %>" class="img-50" /><br/><br/>
    <%= f.label "change image" %><br/>
    <%= f.file_field :image %><br/><br/>
    
    <%= f.submit "अग्रेस्थापनं करोतु", :class => "button" %><br/>
    <%= link_to "प्रतिगच्छतु", all_events_path %>
<% end %>