<div><b>नमस्ते</b></div>

<%= link_to "नूतना घटना योजयतु", new_event_path %>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<br/><br/>

<% for i in @events do %>
    <div class="events">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="poster">
            <img src="<%= rails_blob_url(i.image) %>" />
        </div>

        <div class="info">
            <p><%= i.info.html_safe %></p>
        </div>

        <% path = "../event/" + i.id.to_s %>
        <div class="updel">
            <%= link_to path do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to path + "/del", :confirm => "Are you sure you want to delete this shlok?" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>