<div><b>नमस्ते</b></div>

<%= link_to "नूतना घटना योजयतु", new_event_path %>

<% for i in @events do %>
    <div class="events">
        <div class="title">
            <%= i.name %><br/>
        </div>

        <div class="poster">
            <img src="<%= rails_blob_url(i.image) %>" />
        </div>

        <div class="info">
            <p><%= i.info.html_safe %></p>
        </div>

        <div class="updel">
            <%= link_to event_path(i.id), class: "anone" do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to event_delete_path(i.id), method: "delete", :confirm => "Are you sure you want to delete this event?", class: "anone" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>