<%= link_to "प्रतिगछतु", root_url %><br/>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<div class="conts">
    Name: <%= @user.name %><br/>
    Email: <%= @user.email %><br/>
    <% if @profile %>
        Country: <%= @user.country %><br/>
        State: <%= @user.state %><br/>
        PIN: <%= @user.pin %><br/>
        Gender: <%= @user.gender %><br/>
        Age: <%= @user.age %><br/>
        Mobile no.: <%= @user.mobile %><br/>
        Sanskrit Proficiency Level: <%= @user.sanslevel %><br/>
        Academic Qualification: <%= @user.acadqual %><br/>
    <% else %>
        <b>Complete your profile now if you wish to enroll in a course.</b>
        <%= link_to form_path do %>
            <div class="button">Update Profile</div>
        <% end %>
    <% end %>
    Courses registered in: 
</div>