<%= link_to "प्रतिगछतु", root_url %><br/>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<% parts = ["Name", "Email", "Country", "State", "PIN", "Gender", "Age", "Mobile no.", "Sanskrit Proficiency Level",
            "Academic Qualification", "Regid", "Courses registered in"] %>
<% dets = ["name", "email", "country", "state", "pin", "gender", "age", "mobile", "sanslevel", "acadqual", "regid", "courses"] %>
<table class="profile">
    <% for i in 0..11 %>
    <tr>
        <td><b><%= parts[i] %>:</b></td>
        <td><%= @user[dets[i]] if !@user[dets[i]].nil? %></td>
    </tr>
    <% end %>
</table>
<% if @user.profile %>
    <b>Your profile is complete. You may enroll for a course.</b>
<% else %>
    <b>Complete your profile now if you wish to enroll in a course.</b><br/>
<% end %>
<%= link_to form_path do %>
    <div class="button">Update Profile</div>
<% end %>