<h2>Please fill the following details</h2>

<%= form_for @user, url: form_post_path, multipart: true do |f| %>
    <%= f.text_field :name, class: "utextfield", placeholder: "Your name" %><br/><br/>
    <%= f.email_field :email, class: "utextfield", placeholder: "Your email" %><br/><br/>

    <% country = ["Argentina", "Australia", "Austria", "Bahrain", "Bangladesh", "Belgium", "Botswana", "Brazil", "Bulgaria",
            "Cambodia", "Canada", "Chile", "China", "Colombia", "Costa Rica", "Denmark", "Egypt", "Fiji", "Finland", "France",
            "Germany", "Guyana", "Hong Kong", "Hungary", "India", "Indonesia", "Iraq", "Ireland", "Israel", "Italy", "Japan",
            "Jordan", "Kazakhstan", "Kenya", "Kuwait", "Lithuania", "Luzemborg", "Madagaskar", "Malaysia", "Mali", "Mauritius",
            "Mexico", "Moldova", "Myanmar", "Nepal", "Netherlands", "New Zealand", "Norway", "Oman", "Pakistan", "Panama",
            "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Romania", "Russia", "Saudi Arabia", "Serbia",
            "Seychelles", "Singapore", "Solomon Islands", "South Africa", "South Korea", "Spain", "Sri Lanka", "Sweden",
            "Switzerland", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tunisia", "Turkey", "Uganda", "Ukraine",
            "United Arab Emirates", "United Kingdom", "United States", "Uzbekistan", "Venezuela", "Vietnam", "Virgin Islands"] %>
    <select name="country" required>
        <% if @user.profile %>
            <option value="" disabled>-- Choose country --</option>
        <% else %>
            <option value="" selected disabled>-- Choose country --</option>
        <% end %>
        <% for i in country %>
            <% selected = i == @user.country ? true : false %>
            <% if selected %>
                <option value="<%= i %>" selected><%= i %></option>
            <% else %>
                <option value="<%= i %>"><%= i %></option>
            <% end %>
        <% end %>
    </select><br/><br/>

    <%= f.text_field :state, :required => true, class: "utextfield", placeholder: "Your state" %><br/><br/>
    <%= f.number_field :pin, :required => true, class: "utextfield", placeholder: "Your PIN code" %><br/><br/>
    
    <% gender = ["Male", "Female", "Other"] %>
    <select name="gender" required>
        <% if @user.profile %>
            <option value="" disabled>-- Choose gender --</option>
        <% else %>
            <option value="" selected disabled>-- Choose gender --</option>
        <% end %>
        <% for i in gender %>
            <% selected = i == @user.gender ? true : false %>
            <% if selected %>
                <option value="<%= i %>" selected><%= i %></option>
            <% else %>
                <option value="<%= i %>"><%= i %></option>
            <% end %>
        <% end %>
    </select><br/><br/>
    <!--<div class="radio">
        <% for i in gender %>
            <% checked = (i == gender[-1])? true :false %>
            <%= radio_button_tag :gender, i, @user.profile ? (@user.gender == i ? true : false) : checked %>
            <%= label_tag i %><br/>
        <% end %><br/><br/><br/>
    </div>-->

    <%= f.number_field :age, :required => true, class: "utextfield", placeholder: "Your age" %><br/><br/>
    <%= f.text_field :mobile, :required => true, class: "utextfield", placeholder: "Your mobile number" %><br/><br/>

    <% sanslevel = ["Spoken Sanskrit Class", "Subhashitam Sanskritam Course IITR", "Kovida or equivalent", "Other course", "No prior experience"] %>
    <select name="sanslevel" required>
        <% if @user.profile %>
            <option value="" disabled>-- Sanskrit proficiency level --</option>
        <% else %>
            <option value="" selected disabled>-- Sanskrit proficiency level --</option>
        <% end %>
        <% for i in sanslevel %>
            <% selected = i == @user.sanslevel ? true : false %>
            <% if selected %>
                <option value="<%= i %>" selected><%= i %></option>
            <% else %>
                <option value="<%= i %>"><%= i %></option>
            <% end %>
        <% end %>
    </select><br/><br/>

    <% acadqual = ["10th pass", "12th pass", "Bachelor's", "Master's", "PhD", "Other"] %>
    <select name="acadqual" required>
        <% if @user.profile %>
            <option value="" disabled>-- Academic qualification --</option>
        <% else %>
            <option value="" selected disabled>-- Academic qualification --</option>
        <% end %>
        <% for i in acadqual %>
            <% selected = i == @user.acadqual ? true : false %>
            <% if selected %>
                <option value="<%= i %>" selected><%= i %></option>
            <% else %>
                <option value="<%= i %>"><%= i %></option>
            <% end %>
        <% end %>
    </select><br/><br/>
    
    <%= f.submit "Submit", :class => "button" %><br/>
    <div class="button">
        <%= link_to "Back", profile_path, class: "anone" %>
    </div>
<% end %>