<h1>Please fill the following details</h1>

<%= form_tag form_post_path, multipart: true do %>
    <div>
        <%= label_tag "Name" %><br/>
        <%= text_field_tag :name, nil, :required => true, class: "textfield", value: @user.name %><br/><br/>
        <%= label_tag "Email" %><br/>
        <%= email_field_tag :email, nil, :required => true, class: "textfield", value: @user.email %><br/><br/>
        <%= label_tag "Country" %><br/>
        <%= text_field_tag :country, nil, :required => true, class: "textfield", value: @user.profile ? @user.country : ''  %><br/><br/>
        <%= label_tag "State" %><br/>
        <%= text_field_tag :state, nil, :required => true, class: "textfield", value: @user.profile ? @user.state : ''  %><br/><br/>
        <%= label_tag "PIN" %><br/>
        <%= text_field_tag :pin, nil, :required => true, class: "textfield", value: @user.profile ? @user.pin : ''  %><br/><br/>
        <%= label_tag "Gender" %><br/>
        <%= text_field_tag :gender, nil, :required => true, class: "textfield", value: @user.profile ? @user.gender : ''  %><br/><br/>
        <%= label_tag "Age" %><br/>
        <%= text_field_tag :age, nil, :required => true, class: "textfield", value: @user.profile ? @user.age : ''  %><br/><br/>
        <%= label_tag "Mobile no." %><br/>
        <%= text_field_tag :mobile, nil, :required => true, class: "textfield", value: @user.profile ? @user.mobile : ''  %><br/><br/>
        <%= label_tag "Sanskrit Proficiency Level" %><br/>
        <%= text_field_tag :sanslevel, nil, :required => true, class: "textfield", value: @user.profile ? @user.mobile : ''  %><br/><br/>
        <%= label_tag "Academic Qualification" %><br/>
        <%= text_field_tag :acadqual, nil, :required => true, class: "textfield", value: @user.profile ? @user.mobile : ''  %><br/><br/>
    </div>
    <div>
        <%= submit_tag "Submit", :class => "button" %><br/>
        <%= link_to "Cancel", profile_path %>
    </div>
<% end %>