<% parts = ["Name", "Email", "Country", "State", "PIN", "Gender", "Age", "Mobile no.", "Sanskrit Proficiency Level",
            "Academic Qualification", "Regid", "Courses registered in"] %>
<% dets = ["name", "email", "country", "state", "pin", "gender", "age", "mobile", "sanslevel", "acadqual", "regid", "courses"] %>

<% form_tag user_sort_path do %>
    <%= text_field_tag :country, nil, class: "textfield", placeholder: "Search by country" %><br/><br/>
    <%= text_field_tag :state, nil, class: "textfield", placeholder: "Search by state" %><br/><br/>
    <%= text_field_tag :pin, nil, class: "textfield", placeholder: "Search by PIN" %><br/><br/>
    <%= text_field_tag :gender, nil, class: "textfield", placeholder: "Search by gender" %><br/><br/>
    <%= text_field_tag :age, nil, class: "textfield", placeholder: "Search by age" %><br/><br/>
    <%= text_field_tag :sanslevel, nil, class: "textfield", placeholder: "Search by Sanskrit Proficiency Level" %><br/><br/>
    <%= text_field_tag :acadqual, nil, class: "textfield", placeholder: "Search by Academic Qualification" %><br/><br/>
    <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
<% end %>

<table class="profile">
    <th>
        <% for j in parts %>
            <td><%= j %></td>
        <% end %>
        <td>Delete</td>
    </th>
    <% if @users.length == 0 %>
        <tr>
            <td>No such user.</td>
        </tr>
    <% else %>
        <% for i in @users do %>
            <% for j in 1..12 %>
                <tr>
                    <td><%= i[dets[j]] if !i[dets[j]].nil? %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
</table>