<%= form_tag user_sort_path do %>
    <br/>
    <% for j in 0..11 %>
        <%= text_field_tag @keys[j], nil, class: "utextfield", placeholder: "Search by " + @cols[j] %><br/><br/>
    <% end %>
    <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
<% end %>

<%= @count %> users.
<div class="overu">
    <table class="users">
        <tr>
            <% for j in @cols %>
                <th><%= j %></th>
            <% end %>
            <th>Delete</th>
        </tr>
        <% if @count == 0 %>
            <tr>
                <td colspan="13">No user found.</td>
            </tr>
        <% else %>
            <% for i in @users do %>
                <tr>
                    <% for j in @keys %>
                        <td><%= i[j] if !i[j].nil? %></td>
                    <% end %>
                    <td><%= link_to "Delete", user_delete_path(i.id), method: "delete",
                            data: {:confirm => "Are you sure you want to delete this user?"} %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>