<div><b>नमस्ते</b></div>
<%= link_to "नूतनः श्लोकः योजयतु", "../shlok/ashlokc" %>
<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>
<br/><br/>
<% for i in @shloks do %>
    <div class="shlok">
        <%= i.title %><br/>
        <%= i.shlok.html_safe %><br/>
        <%= i.translation.html_safe %><br/>
        <% path = "../shlok/" + i.sid.to_s %>
        <%= link_to "Update", path %>
        <%= link_to "Delete", path + "/del" %>
    </div>
<% end %>