<div><b>नमस्ते</b></div>

<%= link_to "Back", "../shlok/ashlokr" %>

<h1>श्लोक-परिवर्तनं करोतु</h1>

<%= form_tag '../shlok/' + @shlok.sid.to_s do %>
    <div>
        <%= label_tag :title %><br/>
        <%= text_field_tag :title, @shlok.title, :required => true %><br/>
        <%= label_tag :shlok %><br/>
        <%= text_area_tag :shlok, @shlok.shlok, :required => true %><br/>
        <%= label_tag :translation %><br/>
        <%= text_area_tag :translation, @shlok.translation, :required => true %>
    </div>
    <div>
        <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %>
    </div>
<% end %>