<div><b>नमस्ते</b></div>

<h1>श्लोक-परिवर्तनं करोतु</h1>

<%= form_tag '../shlok/' + @shlok.id.to_s do %>
    <div>
        <%= label_tag "शीर्षकं" %><br/>
        <%= text_field_tag :title, @shlok.title, :required => true, class: "mtextfield" %><br/>
        <%= label_tag "श्लोकः" %><br/>
        <%= text_area_tag :shlok, @shlok.shlok, :required => true, class: "mtextarea-1" %><br/>
        <%= label_tag "अनुवादः" %><br/>
        <%= text_area_tag :translation, @shlok.translation, :required => true, class: "mtextarea-2" %>
    </div>
    <div>
        <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
        <%= link_to "प्रतिगछतु", all_shloks_path %>
    </div>
<% end %>