<div><b>नमस्ते</b></div>

<%= link_to "नूतनः श्लोकः योजयतु", new_shlok_path %>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<br/><br/>

<% for i in @shloks do %>
    <div class="conts">
        <div class="title">
            <%= i.title %><br/>
        </div>

        <div class="cont">
            <p><%= i.shlok.html_safe %></p>
        </div>

        <div>
            <audio src="<%= rails_blob_url(i.audio) %>" controls/>
        </div>

        <div class="info">
            <%= i.translation.html_safe %><br/>
        </div>

        <% path = "../shlok/" + i.id.to_s %>
        <div class="updel">
            <%= link_to path do %>
                <div class="button">परिवर्तयतु</div>
            <% end %>
            <%= link_to path + "/del" do %>
                <div class="button">विनश्यतु</div>
            <% end %>
        </div>
    </div>
<% end %>