<div>
    <br/><br/>
    <div class="button">
        <%= link_to "All users", all_users_path, class: "anone" %>
    </div>
    <div class="button">
        <%= link_to "Profile", mprofile_path, class: "anone" %>
    </div>
    <% if @admin %>
        <div class="button">
            <%= link_to "New member", new_member_path, class: "anone" %>
        </div>
        <div class="button">
            <%= link_to "All Members", all_members_path, class: "anone" %>
        </div>
        <div class="button">
            <%= link_to "Changes", all_changes_path, class: "anone" %>
        </div>
    <% end %>
    <div class="button">
        <%= link_to "Execute SQL", msql_path, class: "anone" %>
    </div>
</div>