<h1>member detail-परिवर्तनं करोतु</h1>

<%= form_for @member, url: member_update_path do |f| %>
    <%= f.label "Name" %><br/>
    <%= f.text_field :name, :required => true, class: "utextfield" %><br/><br/>
    <%= f.label "Email ID" %><br/>
    <%= f.text_field :email, :required => true, class: "utextfield" %><br/><br/>
    <%= f.label "Password" %><br/>
    <%= f.text_field :password, :required => true, class: "utextfield" %><br/><br/>
    <%= f.label "current image" %><br/>
    <% if @member.image.present? %>
        <img src="<%= rails_blob_url(@event.image) %>" class="img-50" /><br/><br/>
    <% else %>
        No image<br/><br/>
    <% end %>
    <%= f.label "change image" %><br/>
    <%= f.file_field :image %><br/><br/>
    

    <%= submit_tag "अग्रेस्थापनं करोतु", :class => "button" %><br/>
    <div class="button">
        <%= link_to "प्रतिगच्छतु", all_members_path, class: "anone" %>
    </div>

<% end %>