<h2>We would love to hear from you!</h2>

<%= form_tag feedback_post_path do %>
  <br/>
    <%= text_field_tag :email, @email, required: true, class: "utextfield", placeholder: "Your email" %><br/><br/><br/>
    <div class="radio">
        <%= radio_button_tag :typef, "feedback", :checked => true %>
        <%= label_tag :typef_feedback, "Feedback" %>
        <%= radio_button_tag :typef, "query" %>
        <%= label_tag :typef_query, "Query" %>
        <%= radio_button_tag :typef, "complaint" %>
        <%= label_tag :typef_complaint, "Complaint" %>
    </div><br/>
    <%= text_area_tag :feedback, nil, required: true, class: "utextarea", placeholder: "Enter your thoughts" %><br/>
    <%= submit_tag "Submit", :class => "button" %><br/>
    <%= link_to "Cancel", root_url %>
<% end %>