<!DOCTYPE html>
<html>
  <head>
    <title>Scrubyrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      आ नो भद्राः क्रतवो यन्तु विश्वतः।
    </div>
    <div>
      <%= link_to "Events", revents_events_path %>
      <%= link_to "Shloka", rshloka_shloka_path %>
    </div>
      <%= yield %>
  </body>
</html>
