<!DOCTYPE html>
<html>
    <head>
        <title>Sanskrit Club | IIT Roorkee</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale: 5.0"/>
        <meta name="description" content="The official dynamic website of the Sanskrit Club - IIT Roorkee"/>
        <meta name="keywords" content="iit roorkee iitr sanskrit club"/>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>

    <body>
      


    <div class="navbar" style="background-color: <%= current_page?(root_path) ? '#312229' : 'rgba(49, 34, 41, 1)' %>">
        <div class="leftSide">
            <%= link_to root_path, class: "Logos" do %>
                <%= image_tag("iitr_logo_PNG.png", alt: "IITR Logo", class: "img_1") %>
                <div class="v"></div>
                <%= image_tag("Club_logo_PNG.png", alt: "Sanskrit Club Logo", class: "img_2") %>
            <% end %>
        </div>

        <div class="rightSide">
                <!-- Hamburger Menu Button -->
                <button class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>>
            <ul class="navlinks" id="navlinks">
            <% if session[:member] %>
                <li><%= link_to "Home", home_path , class: ("active" if current_page?(home_path))%></li>
                <li><%= link_to "Events", all_events_path, class: ("active" if current_page?(all_events_path)) %></li>
                <li><%= link_to "Shlok", all_shloks_path , class: ("active" if current_page?(all_shloks_path))%></li>
                <li><%= link_to "Games", all_games_path , class: ("active" if current_page?(all_games_path))%></li>
                <li><%= link_to "Resources", all_resources_path, class: ("active" if current_page?(all_resources_path)) %></li>
                <li><%= link_to "Courses", all_courses_path, class: ("active" if current_page?(all_courses_path)) %></li>
                <li><%= link_to "Library", all_librarys_path , class: ("active" if current_page?(librarys_path))%></li>
            <% else %>
                <li><%= link_to "Home", root_path, class: ("active" if current_page?(root_path)) %></li>
                <li><%= link_to "Events", events_path, class: ("active" if current_page?(events_path)) %></li>
                <li><%= link_to "Shlok", shloks_path , class: ("active" if current_page?(shloks_path))%></li>
                <li><%= link_to "Games", games_path , class: ("active" if current_page?(games_path))%></li>
                <!-- <li><%= link_to "Resources", resources_path, class: ("active" if current_page?(resources_path)) %></li> -->
                <li><%= link_to "Courses", courses_path , class: ("active" if current_page?(courses_path))%></li>
                <li><%= link_to "Library", librarys_path , class: ("active" if current_page?(librarys_path))%></li>
            <% end %>
            </ul>

  <!-- 👤 User Icon Dropdown -->
  <div class="user-dropdown">
    <i class="fa-solid fa-user"></i>
    <div class="dropdown-content">
      <% if session[:member] || session[:user] %>
        <%= link_to "Logout", logout_path %>
        <% if session[:member] %>
          <%= link_to "Member Area", member_area_path %>
        <% else %>
          <%= link_to "Profile", uprofile_path %>
        <% end %>
      <% else %>
        <%= link_to "Login as Member", member_login_path %>
        <%= link_to "Login as User", user_login_path %>
      <% end %>
    </div>
  </div>
</div>
        </div>
    </div>
    


        <% flash.each do |type, msg| %>
            <div class="flash">
                <%= msg %>
            </div>
        <% end %>
        
        <main class="main-content">
        <%= yield %>
        </main>

       
       <!-- Social Media Section -->
        <div class="social-section touch">
        <h2>GET IN TOUCH</h2>
        <div class="icons">
            <a href="mailto:sanskritclub@gmail.com" target="_blank"><i class="fa-solid fa-envelope icon"></i></a>
            <a href="https://chat.whatsapp.com/IfvsuDkCoP0D51KknzO4B1" target="_blank"><i class="fa-brands fa-whatsapp icon"></i></a>
            <a href="https://www.facebook.com/sanskritiitr/" target="_blank"><i class="fa-brands fa-facebook icon"></i></a>
            <a href="https://www.instagram.com/sanskrit_club/?hl=en" target="_blank"><i class="fa-brands fa-instagram icon"></i></a>
            <a href="https://www.linkedin.com/company/sanskrit-club-iit-roorkee/posts/?feedView=all" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
            <a href="https://twitter.com/sanskritclub" target="_blank"><i class="fa-brands fa-x-twitter icon"></i></a>
            <a href="https://www.youtube.com/@sanskritclub" target="_blank"><i class="fa-brands fa-youtube icon"></i></a>
        </div>

        <!-- Footer section -->
        <div class="footer">
            <div class="footer-links">
            <%= link_to "About", about_path %>
            <%= link_to "How to Use", htuse_path %>
            <%= link_to "Terms", terms_path %>
            <% if session[:member] %>
                <%= link_to "Feedback", all_feedbacks_path %>
            <% else %>
                <%= link_to "Feedback", feedback_path %>
            <% end %>
            <% if session[:member] %>
                <%= link_to "Meet Our Team", all_teams_path %>
            <% else %>
                <%= link_to "Meet Our Team", teams_path %>
            <% end %>
            </div>
            <div class="footer-info">
            <span>Visitors since 14 May ‘22: <%= session[:vc] %></span>
            <span>&copy; <%= Time.new.year %>. All rights reserved.</span>
            </div>
        </div>
        </div>
        <script>
            // Hamburger menu functionality
            const hamburger = document.getElementById('hamburger');
            const navlinks = document.getElementById('navlinks');
            const body = document.body;

            hamburger.addEventListener('click', function() {
                this.classList.toggle('active');
                navlinks.classList.toggle('active');
                body.classList.toggle('menu-open');
            });

            // Close menu when clicking on a link
            const navItems = navlinks.querySelectorAll('a');
            navItems.forEach(item => {
                item.addEventListener('click', function() {
                    hamburger.classList.remove('active');
                    navlinks.classList.remove('active');
                    body.classList.remove('menu-open');
                });
            });

            // Close menu when clicking outside
            document.addEventListener('click', function(event) {
                const isClickInsideNav = navlinks.contains(event.target);
                const isClickOnHamburger = hamburger.contains(event.target);
                
                if (!isClickInsideNav && !isClickOnHamburger && navlinks.classList.contains('active')) {
                    hamburger.classList.remove('active');
                    navlinks.classList.remove('active');
                    body.classList.remove('menu-open');
                }
            });
        </script>
    </body>
</html>