<!DOCTYPE html>
<html>
  <head>
    <title>Scrubyrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      आ नो भद्राः क्रतवो यन्तु विश्वतः।
    </div>
    <% if session[:user] == "sc" %>
      Logged in as Sanskrit Club.<br/>
      <%= ENV["ADMIN_ACCESS"]+"hello" %>
      <%= link_to "Logout", "../logging/logout" %>
    <% else %>
      <div>
        <%= link_to "Login", "../logging/login" %>
      </div>
    <% end %>
    <div class="navbar">
      <%= link_to "Home", "../" %>
      <%= link_to "Events", "../events/revents" %>
      <%= link_to "Shloka", "../shloka/rshloka" %>
      <%= link_to "Resources", "../resource/firstresource" %>
    </div>
      <%= yield %>
  </body>
</html>
