<!DOCTYPE html>
<html>
    <head>
        <title>Sanskrit Club | IIT Roorkee</title>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="description" content="The official dynamic website of the Sanskrit Club - IIT Roorkee"/>
        <meta name="keywords" content="iit roorkee iitr sanskrit club"/>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="course_controller">
        <div class="header">
            आ नो भद्राः क्रतवो यन्तु विश्वतः।
        </div>

        <% if session[:member] || session[:user] %>
            <div class="logger">
                <div><%= link_to "Logout", logout_path %></div>
                <div>Logged in as <%= session[:member] ? session[:member] : session[:user] %>.</div>
                <div>
                    <% if session[:member] %>
                        <%= link_to "All Users", all_users_path %>
                    <% else %>
                        <%= link_to "Profile", profile_path %>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div>
                <%= link_to "Login as member", member_login_path %>
                <%= link_to "Login as user", user_login_path %>
            </div>
        <% end %>

        <% if session[:member] %>
            <div class="navbar">
                <%= link_to "Home", home_path %>
                <%= link_to "Events", all_events_path %>
                <%= link_to "Shlok", all_shloks_path %>
                <%= link_to "Game", all_games_path %>
                <%= link_to "Resources", resources_path %>
                <%= link_to "Courses", all_courses_path %>
            </div>
        <% else %>
            <div class="navbar">
                <%= link_to "Home", root_url %>
                <%= link_to "Events", events_path %>
                <%= link_to "Shlok", shloks_path %>
                <%= link_to "Game", games_path %>
                <%= link_to "Resources", resources_path %>
                <%= link_to "Courses", courses_path %>
            </div>
        <% end %>

        <%= yield %>

        <div class="footer">
            Total views on this website: <%= session[:vc] %><br/><br/>
            <%= link_to "About", root_url %>
            <%= link_to "How to Use", events_path %>
            <%= link_to "Terms", shloks_path %>
            <%= link_to "Feedback", feedback_path %>
        </div>
    </body>
</html>
